**/__pycache__/**
py-torch/eng_w2v_tensor.tsv
py-torch/eng_w2v_metadata.tsv
py-torch/eng_w2v
py-torch/ted_en-20160408.xml
Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow/datasets/**
